# Homework 8 - Nihit Parikh

## Preliminaries

Download [this version](https://utexas.instructure.com/courses/1319193/files/folder/Data?preview=63145828) of our survey data with reasonable column names in the header line.  Then upload it (if using Colab) so that the follow code works.  If you are using Jupyter, could can use `read_csv()` directly after downloading the data.

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [3]:
import pandas as pd

In [4]:
survey = pd.read_csv("survey.csv")

In [5]:
%sql persist survey

 * sqlite://

'Persisted survey'

In [6]:
%%sql
SELECT COUNT(*) FROM survey

 * sqlite://
Done.

[(54,)]

In [11]:
%%sql
SELECT *
  FROM survey
  LIMIT 5

 * sqlite://
Done.

[(0, '2021/08/31 3:53:58 PM EST', 'Mac', 'Apple', 'No', 'Business', 'What?', 'No', 'No', 'No', 'Yes', "Torchy's", 'One Direction ', 5, 'In Texas', 'Austin', 1, 'Less than five hours', '2021-08-30', 'Yes', 3),
 (1, '2021/08/31 3:54:03 PM EST', 'Windows PC', 'Apple', 'Yes', 'Advertising, communications', 'Yes', 'No', 'No', 'No', 'No', "Torchy's", 'Bandier', 5, 'In Texas', 'nyc', 2, 'Less than five hours', '2021-08-30', 'No', 2),
 (2, '2021/08/31 3:54:08 PM EST', 'Windows PC', 'Apple', 'Yes', 'Business', 'Yes', 'Yes', 'No', 'No', 'Yes', "Torchy's", 'Colony House', 5, 'In Texas', 'Austin or Dallas', 2, 'Between seven hours (inclusive) and eight hours (inclusive)', '2021-08-28', 'No', 1),
 (3, '2021/08/31 3:54:08 PM EST', 'Mac', 'Apple', 'Yes', 'Liberal arts (languages, history, etc)', 'Yes', 'No', 'No', 'No', 'No', "Torchy's", 'Fleetwood Mac', 5, 'In the United States but not in Texas', 'NY or LA', 2, 'Between six hours (inclusive) and seven hours (exclusive)', '2021-08-30', 'No', 1),
 (4, '2021/08/31 3:54:12 PM EST', 'Mac', 'Apple', 'Yes', 'Advertising, communications', 'Yes', 'No', 'No', 'No', 'No', "Torchy's", 'Black Eyed Peas', 5, 'In Texas', 'Los Angeles', 2, 'Between seven hours (inclusive) and eight hours (inclusive)', '2021-08-28', 'No', 1)]

## Problem 1

Write a SQL query that shows the top three `siblings` values (in descending order).

In [26]:
%%sql
SELECT siblings
FROM survey
ORDER BY siblings DESC
LIMIT 3

 * sqlite://
Done.

[(6,), (4,), (4,)]

## Problem 2

Write a SQL query that shows the number of survey responses by degree in descending order of those counts.

In [10]:
%%sql
SELECT degree, COUNT(*) AS survey_resp
  FROM survey
  GROUP BY degree
  ORDER BY survey_resp DESC

 * sqlite://
Done.

[('Business', 22),
 ('Advertising, communications', 19),
 ('Science or math', 6),
 ('Liberal arts (languages, history, etc)', 4),
 (None, 1),
 ('Economics, policy, government', 1),
 ('Engineering', 1)]

## Problem 3

Write a query that returns the mean instructor greatness responses by degree.  The data frame should be in descending order of mean greatness.

In [12]:
%%sql
SELECT degree, AVG(instructor) AS mean_instructor
  FROM survey
  GROUP BY degree
  ORDER BY mean_instructor DESC

 * sqlite://
Done.

[(None, 5.0),
 ('Economics, policy, government', 5.0),
 ('Engineering', 5.0),
 ('Liberal arts (languages, history, etc)', 5.0),
 ('Science or math', 5.0),
 ('Advertising, communications', 4.947368421052632),
 ('Business', 4.863636363636363)]

## Problem 4

Another query: For Business majors, the count of responses by computer type.

In [27]:
%%sql
SELECT computer, COUNT(computer) AS resp_count
  FROM survey
  WHERE degree = 'Business'
  GROUP BY computer
  ORDER BY resp_count DESC

 * sqlite://
Done.

[('Mac', 11), ('Windows PC', 11)]

## Problem 5

Another query: For Business majors with Macs, the mean number of siblings by queso.

In [20]:
%%sql
SELECT queso, AVG(siblings) AS mean_siblings
  FROM survey
  WHERE degree = 'Business' AND computer = 'Mac'
  GROUP BY queso
  ORDER BY mean_siblings desc

 * sqlite://
Done.

[("Kirby Lane's", 2.0), ("Torchy's", 2.6)]

:

## Problem 6

Consider a strange metric that is `math+instructor`. This metric, which of course is the
sum of the "how much you like math" response and the "how great is the instructor response",
might have tremendous predictive value. Let's investigate.

Compute the mean value of this metric by `computer` value.

In [21]:
%%sql
SELECT computer, AVG(math + instructor) AS math_instructor
FROM survey
GROUP BY computer
ORDER BY math_instructor desc

 * sqlite://
Done.

[('Mac', 8.085714285714285),
 ('Both PC and Mac', 8.0),
 ('Windows PC', 7.944444444444445)]

## Problem 7

Write a query that returns the maximum math+instructor score.

In [24]:
%%sql
SELECT MAX(math + instructor) AS max_math_instructor
FROM survey
ORDER BY max_math_instructor desc

 * sqlite://
Done.

[(10,)]

## Problem 8

Another query: For responses reporting one or two siblings, count votes for each `queso`.

In [25]:
%%sql
SELECT queso, COUNT(*) as count
FROM survey
WHERE siblings = 1 OR siblings = 2
GROUP BY queso
ORDER BY count DESC

 * sqlite://
Done.

[("Torchy's", 31), ("Kirby Lane's", 8), (None, 1)]